:root{
    --myBlack: #0D0D0D;
    --myBlack2: #262626;
    --myGrey: #8C8C8C;
    --myWhite: #D9D9D9;
    --myGold: #D9AA52;
}
body{
    background-color: var(--myBlack);
    font-family: 'Roboto', sans-serif; 
}
div.title{
    position: absolute;
    right: 50%;
    top: 25%;
    transform: translate(50%);
    color:var(--myWhite);
    text-align: center;
}
div.title h1{
    letter-spacing: 15px;
    font-size: 83px;
}
div.title p{
    position: relative;
    letter-spacing: 2px;
    font-size: 17px;
    font-style: italic;
}
div.line{
    height: 3px;
    width: 90px;
    position: absolute;
    right: 50%;
    top: 18%;
    transform: translate(50%);
    background-color: var(--myWhite);
}
div.index ul{
    display: flex;
    position: absolute;
    right: 50%;
    transform: translate(50%);
}
div.index ul li{
    margin: 0px 40px;
    width: 100px;
    color: var(--myWhite);
    list-style-type: none;
}
div.index ul li a{
    text-decoration: none;
    color:var(--myWhite);
}
.button{
height: 44px;
width: 200px;
position: absolute;
right: 50%;
transform: translate(50%);
top:75%;
text-align: center;
border-radius: 50px;
color: var(--myWhite);
text-decoration: none;
background: var(--myGold);
border-radius: 50px;
display: inline-block;
border: none;
padding-top: 20px;
transition: all 0.4s ease 0s;
font-family: 'Roboto', sans-serif; 
font-size: 20px;
font-weight: bold;
letter-spacing: 3px;
}
.button:hover{
text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
-webkit-box-shadow: -1px 0px 8px 1px var(--myGold);
-moz-box-shadow: -1px 0px 8px 1px var(--myGold);
transition: all 0.4s ease 0s;
}
