body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/w3images/mac.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

#title{
  color:#D9D9D9;
  font-family:Roboto;
  font-size:6vw;
}

#get_started_button{
  background:#D9AA52;
  color:#D9D9D9;  
  margin:auto;
}

#we_offer{
  background:#262626;
}

#empower_projects{
  background:#8C8C8C;
}

#new_to_investments{
  background:#D9D9D9;
}

#text{
  margin: 50%;
}

.what_we_offer_image{
  width: 25%;
  height: auto;
}

.image{
  width: 50%;
  height: auto;
}