*{
    margin: 0px;
    padding: 0px;
    text-decoration:none;
}

header {
    width: 100%;
    height:60px;
    background-color:#222222;
}

nav ul{
    float: right;
    margin-top: 20px;
    margin-right:60px
}

nav ul li{
    list-style:none;
    float: left;
}

nav ul li a{
    color: #fff;
    font-family: Arial;
    font-size: 16px;
}

nav ul form{
    float:left;
}

nav ul form input{
    float:left;
    border:none;
    margin-right:6px;
}

nav ul form button{
    float: left;
    border:none;
    margin-right:20px;
    background-color:#fff;
    color:#222;
    font-size:16px;
}