:root{
    --myBlack: #0D0D0D;
    --myBlack2: #262626;
    --myGrey: #8C8C8C;
    --myWhite: #D9D9D9;
    --myGold: #D9AA52;
}
div.indexLogged ul{
    display: flex;
    position: absolute;
}
div.indexLogged ul li{
    color: var(--myWhite);
    list-style-type: none;
    margin-right: 8%;
}
div.indexLogged ul li a{
    text-decoration: none;
    color:var(--myWhite);
}