:root{
    --myBlack: #0D0D0D;
    --myBlack2: #262626;
    --myGrey: #8C8C8C;
    --myWhite: #D9D9D9;
    --myGold: #D9AA52;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    text-shadow: none;
}

.navbar-brand {
    font-family: 'Roboto', sans-serif;
	font-size: 44px;
	color: var(--myWhite);
	text-align: center;
	width: 100%;
	position: relative;
	padding: 40px 0px;
	height: auto!important;
}

#main-nav {
	padding: 15px 0px;
	float: right;
    position:relative;
    left:-50%;
    text-align: left;
}

.nav {
	list-style:none;
    position:relative;
    left:50%;
}


